$fuente-principal: 'Roboto', sans-serif;
$fuente-titulos: 'Merriweather', serif;

$color-bg: #fff;
$color-sec: #888;
$color-nav: #ddd;
$color-footer: #ddd;
$color-text: #000;
$color-subtext: #7D7A7A;
$color-accent: #F50707;
$divider-color: #00000033;
