@use '../abstracts/variables' as *;

.cat-news-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.cat-banner {
    background: $color-sec;
    color: $color-bg;
    text-transform: uppercase;
    font-size: 24px;
    padding: 8px 18px;
    text-align: center;
    border-radius: 6px;
    display: inline-block;
    margin-top: 20px;
}

.cat-divider {
    height: 3px;
    max-width: 100%;
    background: $divider-color;
    margin: 12px auto 25px;
    border-radius: 2px;
}

.cat-main-article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
    border: 1px solid $divider-color;
    border-radius: 8px;
    overflow: hidden;
}

.cat-main-img img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    transition: transform .3s ease, filter .3s ease;
}

.cat-main-img:hover img {
    transform: scale(1.03);
    filter: brightness(.85);
}

.cat-main-content {
    padding: 1rem
}

.cat-main-content h1 {
    font-family: $fuente-titulos;
    font-size: 2rem;
    margin-bottom: .2rem;
    transition: color .3s ease;
}

.cat-main-content a:hover h1,
.cat-item-content a:hover h2{
    color: $color-accent;
}

.cat-main-content a,
.cat-item-content a {
    text-decoration: none;
    color: inherit;
}

.cat-date {
    font-size: .9rem;
    color: $color-subtext;
    display: block;
    margin-bottom: .7rem;
}

.cat-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.cat-col {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cat-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid $divider-color;
    border-radius: 8px;
    background: $color-bg;
    overflow: hidden;
}

.cat-item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .3s ease, filter .3s ease;
}

.cat-item-img:hover img {
    transform: scale(1.05);
    filter: brightness(.85);
}

.cat-item-content{
    padding: 1rem;
}

.cat-item-content h2 {
    font-family: $fuente-titulos;
    margin: 0 0 4px;
    font-size: 1.5rem;
    transition: color .3s ease;
}

.cat-item-content h2:hover {
    color: $color-sec;
}

.cat-item-content p {
    margin: 0;
    color: $color-text;
}

.btn-leer  {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 14px;
    background-color: $color-sec;   /* tu color secundario */
    color: $color-bg !important;               /* texto claro */
    font-size: 0.9rem;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color .2s ease, transform .2s ease;
}

.btn-leer:hover {
    background-color: darken($color-sec, 10%);
    transform: translateY(-1px);
}


/* RESPONSIVE */
@media (max-width: 768px) {
    .cat-grid {
        grid-template-columns: 1fr;
    }

}

