@use '../abstracts/variables' as *;

.cat-news-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.cat-banner {
    background: $color-sec;
    color: $color-bg;
    text-transform: uppercase;
    font-size: 24px;
    padding: 8px 18px;
    text-align: center;
    border-radius: 6px;
    display: inline-block;
    margin-top: 20px;
}

.cat-divider {
    height: 3px;
    max-width: 100%;
    background: $divider-color;
    margin: 12px auto 25px;
    border-radius: 2px;
}

.cat-main-article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
    border: 1px solid $divider-color;
    border-radius: 8px;
    overflow: hidden;
}

.cat-main-img img {
    width: 100%;
    height: 420px;
    object-fit: cover;
    transition: transform .3s ease, filter .3s ease;
}

.cat-main-img:hover img {
    transform: scale(1.03);
    filter: brightness(.85);
}

.cat-main-content {
    padding: 1rem;
}

.cat-main-content h1 {
    font-family: $fuente-titulos;
    font-size: 2rem;
    margin-bottom: .2rem;
    transition: color .3s ease;
}

.cat-main-content h1:hover {
    color: $color-sec;
}

.cat-date {
    font-size: .9rem;
    color: $color-subtext;
    display: block;
    margin-bottom: .7rem;
}

.cat-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.cat-col {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cat-item {
    display: flex;
    gap: 15px;
    border: 1px solid $divider-color;
    border-radius: 8px;
    padding: 10px;
    background: $color-bg;
}

.cat-item-img img {
    width: 180px;
    height: 150px;
    object-fit: cover;
    border-radius: 6px;
    transition: transform .3s ease, filter .3s ease;
}

.cat-item-img:hover img {
    transform: scale(1.05);
    filter: brightness(.85);
}

.cat-item-content h2 {
    font-family: $fuente-titulos;
    margin: 0 0 4px;
    font-size: 1.2rem;
    transition: color .3s ease;
}

.cat-item-content h2:hover {
    color: $color-sec;
}

.cat-item-content p {
    margin: 0;
    color: $color-text;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .cat-grid {
        grid-template-columns: 1fr;
    }

    .cat-item-img img {
        width: 140px;
        height: 120px;
    }
}

