@use '../abstracts/variables' as *;

.header-nav {
    width: 100%;
    background: $color-nav;
}

.header-nav .container {
    max-width: 1200px;
    padding: 0 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu {
    display: flex;
    gap: 30px;
    padding: 12px 0;
    margin: 0;
    list-style: none;
    align-items: center;
}

.menu a {
    text-decoration: none;
    font-size: 18px;
    color: $color-text;
}

.menu a:hover {
    color: $color-accent;
}

.menu-icon img {
    width: 22px;
    height: 22px;
    display: block;
    cursor: pointer;
}

.menu-icon img:hover {
    filter: invert(17%) sepia(91%) saturate(7493%) hue-rotate(0deg) brightness(92%) contrast(117%);
}


@media (max-width: 1278px) {
    .menu {
        gap: 18px;
    }

    .menu a {
        font-size: 15px;
    }
}

@media (max-width: 768px) {

    .menu li:not(:first-child) {
        display: none;
    }

    .header-nav .container {
        justify-content: flex-start;
    }

    .menu-icon img {
        width: 28px;
        height: 28px;
    }
}

